* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

/* Header Styling */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;

}
nav ul li{
    list-style: none;
    display:inline-block;
    margin: 10px 30px;
    position: relative;

}
nav ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}
.tabs::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e10600;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
nav ul li:hover::after{
    width: 100%;

}
#signinbtn{
    background-color: rgb(225, 6, 0);
    border-radius: 5px;
    border-color: rgb(31, 31, 39);
    padding: 15px;
    cursor: pointer;

}

#signinbtn:hover{
    background-color: #000;

}
#subscribebtn{
    background-color: rgb(225, 6, 0);
    border-radius: 5px;
    border-color: rgb(31, 31, 39);
    padding: 15px;
    cursor: pointer;

}
#subscribebtn:hover{
    background-color: #000;

}
.logo{
    width: 140px;
    height: 80px;
    cursor: pointer;

}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url(./bg5.svg);

}

h1{
    text-align: center;
    padding: 20px;
    background:transparent;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.legends-container {
    display:inline-flex;
    padding: 20px 0;
}

.legend-card {
    background-color: #2c2c2c96;
    border-right: #2c2c2c solid 2px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    width: 369px;
    height: auto;
}

.legend-card:hover{
    background-color: #fff;
    
}
.legend-card img {
    width: 300px;
    height: 330px;
}

.legend-card h2 {
    font-size: 24px;
    margin: 15px 0;
}

.legend-card p {
    font-size: 16px;
    padding: 0 15px 20px 15px;
}

.legend-card:hover {
    color: #e10600;
}

.legend-card:hover img {
    background-color: #fff;
}

.legend-card:hover h2 {
    color: #e10600;
}

.legend-card:hover p {
    color: #e10600; 
}

a{
    text-decoration: none;
    color: #fff;
}

/* Footer Styling */

footer{
    background-color: black;

}
.footer-content{
    width: 100%;
    padding: 70px 30px 20px;

}
.outer{
    display: flex;
    justify-content:space-around;

}
.app-download{
    display: flex;
    width: 765px;

} 
.app-download p{
    font-size: 19px;
    line-height: 15px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: white;  
    text-decoration: none; 

}
.app-download a{
    text-decoration: none;

}
.app-download a img{
    width: 170px;
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;

}
.social-media{
    display: flex;
    justify-content:right;

}
.social-media p{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 400;

    
}
.social-media a{
    text-decoration: none;
    padding: 0 10px;
    background-color: black;
    margin: 0 10px;

}
.social-media a img{
    height: 40px;
    width: 40px;
    margin: 0;

}
.social-media a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
.social-media a:hover{
    background-color:#000

}
.social-media a:hover i{
    color: white;
    transition: 0.5s;

}
.footer-links{
    margin: 30px 0;

}
.footer-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
.footer-links ul li a{
    color: whitesmoke;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footer-links ul li a:hover{
    opacity: 1;

}
.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;

}
.footer-bottom{
    color: white;

}

